<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer" title="Customers" translate="title" sortOrder="40">
                    <resource id="Task_Customer::customer_request_contact" title="Contact Requests" translate="title" sortOrder="30">
                        <resource id="Task_Customer::customer_request_contact_save" title="Save contact request" translate="title" sortOrder="10"/>
                        <resource id="Task_Customer::customer_request_contact_delete" title="Delete contact request" translate="title" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
